@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#app,
.onePage {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}